{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Opportunities</li>
{% endblock %}
{% block content %}
<div style="overflow-x:auto;">
<table style="width:100%">
    <tr>
        <th>Organization</th>
        <th>Title</th>
        <th>Date Posted</th>
        <th>Date Due</th>
    </tr>
    {% for opportunity in opportunities %}
        <tr>
          <td>{{ opportunity.organization }}</td>
          <td><a href="{% url 'opportunity_details' opportunity.pk %}">{{ opportunity.title }}</a></td>
          <td>{{ opportunity.published_date }}</td>
          <td>{{ opportunity.due_date }}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
